{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Swagger Sample"
  },
  "host": "finacne.io",
  "basePath": "/",
  "tags": [
    {
      "name": "申请单",
      "description": "Application"
    },
    {
      "name": "结算单",
      "description": "Settlement"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/applications": {
      "get": {
        "tags": [
          "申请单"
        ],
        "summary": "分页查询",
        "description": "分页",
        "operationId": "findPageUsingGet",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "客户编号",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "currency",
            "description": "币种",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "type": "array",
            "name": "applicationType",
            "required": false,
            "description": "申请单类型",
            "collectionFormat": "multi",
            "items": {
              "type": "string",
              "enum": [
                "DISCOUNT",
                "ORIGIN",
                "REFUND"
              ]
            }
          },
          {
            "in": "query",
            "name": "statuses",
            "description": "状态",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CONFIRM",
                "DRAFT",
                "SIGN",
                "REJECT",
                "PREAUDIT",
                "REPLENISH"
              ]
            }
          },
          {
            "in": "query",
            "type": "integer",
            "format": "int32",
            "name": "page",
            "required": true
          },
          {
            "in": "query",
            "type": "integer",
            "format": "int32",
            "name": "size",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page-ApplicationDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/applications/bulk-audit": {
      "post": {
        "tags": [
          "申请单"
        ],
        "summary": "批量确认申请单",
        "operationId": "bulkAuditUsingPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/bulkAuditRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationResponseDTO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/settlement/{id}": {
      "get": {
        "tags": [
          "结算单"
        ],
        "summary": "获取结算单详情",
        "operationId": "getDetailUsingId",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "结算单 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SettlementResponseDTO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Page-ApplicationDTO": {
      "type": "object",
      "title": "申请单列表",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationDTO"
          }
        },
        "first": {
          "type": "boolean"
        },
        "last": {
          "type": "boolean"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "pageNumber": {
          "type": "integer",
          "format": "int32"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ApplicationDTO": {
      "type": "object",
      "title": "申请单",
      "properties": {
        "tax": {
          "type": "string"
        },
        "applyBy": {
          "type": "string"
        },
        "applyTime": {
          "type": "string",
          "format": "date-time"
        },
        "code": {
          "type": "string"
        },
        "createBy": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "bulkAuditRequestDTO": {
      "type": "object",
      "required": [
        "applicationIds",
        "actionType"
      ],
      "properties": {
        "ids": {
          "title": "审批单号",
          "type": "array",
          "description": "请求的申请单列表",
          "items": {
            "type": "string"
          }
        },
        "operationType": {
          "type": "string",
          "title": "审批动作",
          "description": "审批动作",
          "enum": [
            "APPROVE",
            "REJECT"
          ]
        },
        "remark": {
          "title": "备注",
          "type": "string"
        }
      },
      "title": "批量审批参数"
    },
    "ApplicationResponseDTO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "SettlementResponseDTO": {
      "type": "object",
      "title": "结算单详情",
      "properties": {
        "id": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "date-time"
        },
        "remark": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    }
  }
}
